.posts {
    list-style: none;
}

.posts__item {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

    & + & {
        margin-top: 8px;
    }
}

.posts__date {
    color: var(--darkgray);
}

.posts__link {
    text-decoration: underline;
    text-decoration-color: rgba(0, 0, 0, .2);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
    margin-right: 8px;

    &:hover {
        text-decoration-color: rgba(0, 0, 0, 1);
    }
}

.posts__info {
    font-style: italic;
    font-size: 0.8em;
    display: block;
}

.posts__tag {
    display: inline-block;

    & + & {
        margin-left: 4px;
    }
}
