---
layout: base.njk
title: About Me
eleventyNavigation:
    key: About Me
    order: 3
---
<article class="post">
    <h1 class="post__title">{{ title }}</h1>

    <div class="post__content">
        Hi. My name is Mitya, and I'm a front-end developer and a swing dj
    </div>
</article>
